@tailwind base;
@tailwind components;
@tailwind utilities;

/* sm	40rem (640px)	@media (width >= 40rem) { ... } */
/* md	48rem (768px)	@media (width >= 48rem) { ... } */
/* lg	64rem (1024px)	@media (width >= 64rem) { ... } */
/* xl	80rem (1280px)	@media (width >= 80rem) { ... } */
/* 2xl	96rem (1536px)	@media (width >= 96rem) { ... } */

@layer base {
    * {
        @apply m-0 p-0 box-border border-[0px] border-purple-500
    }

    header {
        @apply w-full py-2 border-b-[0px] border-neutral-200 absolute top-0 z-50
    }

    main {
        @apply min-h-dvh
    }

    section {
        @apply w-full flex flex-col py-28 justify-between
    }

    figure, picture {
        @apply flex
    }

    h1 {
        @apply font-extrabold text-5xl leading-tight
    }

    h2 {
        @apply font-extrabold text-3xl
    }

    h3 {
        @apply text-xl
    }

    h4 {
        @apply text-sm
    }

    h5 {
        @apply text-xs
    }

    span {
        @apply flex
    }

    p, li {
        @apply text-neutral-500 text-base
    }

    a {
        @apply cursor-pointer
    }

    input, textarea {
        @apply outline-0 font-light p-3 rounded
    }

    table {
        @apply mb-8 last:mb-0
    }
}

@layer components {
    .container {
        @apply grid gap-4 mx-auto w-2/3
    }

    .menu-lateral {
        @apply menu-sombra bg-white fixed h-dvh top-0 p-6 w-2/3 flex flex-col justify-start transition-all duration-200 ease-in-out
    }

    .menu-link {
        @apply py-2 px-4 my-[2px] w-auto rounded cursor-pointer text-neutral-600 hover:bg-neutral-100
    }

    .menu-link-desk {
        @apply p-4 text-white cursor-pointer font-bold text-base hover:text-neutral-100 hover:bg-[#1B1464] transition-all duration-150
    }

    .btn {
        @apply px-2 py-4 my-4 bg-neutral-100 text-neutral-600 text-base font-bold transition-all duration-150
    }

    .btn-primario {
        @apply text-[#1B1464] btn-sombra
    }

    .titulo-sessao {
        @apply mb-6 uppercase
    }

    .input-campo {
        @apply relative flex flex-col
    }

    .palestrante-container {
        @apply flex flex-col text-center items-center justify-between p-8 bg-gradient-to-b from-[#1B146400] from-50% to-[#1B1464] to-50% w-full border-[2px] border-white
    }

    .palestrante-img {
        @apply rounded-full w-56 h-56 border-[8px] border-white object-cover object-center
    }

    .palestrante-nome {
        @apply font-extrabold mt-4 text-white
    }

    .palestrante-cirruculo {
        @apply text-white text-xs font-light
    }

    .loc-list {
        @apply flex flex-row py-3 items-center
    }

    .loc-list-icone {
        @apply text-3xl text-neutral-600 mr-8
    }

    .form-list {
        @apply text-white text-xs mb-4 list-decimal
    }

    .rodape-info {
        @apply flex flex-row items-center
    }
}

@layer utilities {
    .btn-sombra {
        box-shadow: .7rem .7rem 0 #1B1464;
    }

    .btn-sombra-2 {
        box-shadow: .7rem .7rem 0 rgba(255, 0, 0, 0.904);
    }

    .text-sombra {
        text-shadow: .3rem .3rem 0 #1B1464;
    }

    .menu-sombra {
        box-shadow: .5rem 0rem 2rem rgba(20, 20, 20, .2);
    }
}